**/.venv
**/venv
**/.env
**/.env.*
!**/.env.example
**/.git
**/.gitignore
**/__pycache__
**/.pytest_cache
**/.vscode
**/.idea
**/node_modules
**/.next
**/uploads
local/
*.pyc
*.pyo
*.pyd

**/.mypy_cache/
**/.coverage
